<div class="index">
  <div class="option">
    <h2 *ngIf="!fromQr">Это Ваше личное устройство?</h2>
    <p *ngIf="!fromQr">Отсканируйте QR-код либо введите числовой код вручную</p>
    <form class="join-form">
      <div>
        <label for="gameId">Код игры:</label>
        <input type="number" id="gameId" name="gameId" [(ngModel)]="gameId" [disabled]="fromQr" />
      </div>
      <div>
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" />
      </div>
      <button type="submit" (click)="join()">Присоединиться</button>
    </form>
  </div>
  <div class="option" *ngIf="!fromQr">
    <h2>
      Это устройство видят все игроки?
    </h2>
    <p>После нажатия кнопки ниже, оставьте его в покое.</p>
    <button (click)="createGame()">
      Начать игру
    </button>
  </div>
</div>