<div class="monitor" *ngIf="!!state && !!state.gameState">
  <!-- lobby -->
  <ng-container *ngIf="state.gameState == 'LOBBY'">
    <h2>Ожидание игроков</h2>
    <div class="half">
      <div class="game-id">{{state.gameId}}</div>
      <p>Введите этот код, чтобы присоединиться к игре</p>
      <p>Или отсканируйте этот QR-код:</p>
      <img class="qrcode" src="https://api.qrserver.com/v1/create-qr-code/?size=256x256&data=http%3A%2F%2Fsomething.com%2F%3Fgame%3D{{state.gameId}}">
    </div>
    <cah-playerlist 
      class="playerlist-half"
      [players]="state.players">
    </cah-playerlist>
  </ng-container>
  <!-- /lobby -->

  <!-- round_start -->
  <ng-container *ngIf="state.gameState == 'ROUND_START' && !!state.blackCard && !!state.blackCard.text">
    <h2>Раунд начался</h2>
    <div class="full">
      <div class="blackCard">
        {{state.blackCard.text | underscore }}
      </div>
    </div>
    
    <cah-playerlist 
      class="bottom"
      [players]="state.players">
    </cah-playerlist>
  </ng-container>
  <!-- /round start -->  

  <!-- round_court -->
  <ng-container *ngIf="state.gameState == 'ROUND_COURT'">
    <h2>Царский суд</h2>

    <cah-playerlist 
      class="full"
      [players]="state.players">
    </cah-playerlist>
  </ng-container>
  <!-- /round_court -->

  <!-- round_next -->
  <ng-container *ngIf="state.gameState == 'ROUND_NEXT'">
    <h2>Раунд окончен</h2>

    <ul class="full submissions">
      <ng-container *ngFor="let p of state.players">
        <li *ngIf="p.sentCards.length > 0">
          <div class="author">
            <i class="fas fa-trophy" *ngIf="p.id == state.winnerId"></i>
            <span class="name">{{ p.name }}:</span>
          </div>
          <cah-joke
            [blackcard]="state.blackCard"
            [player]="p"
          ></cah-joke>
        </li>
      </ng-container>
    </ul>
    
    <cah-playerlist 
      class="bottom"
      [players]="state.players">
    </cah-playerlist>
  </ng-container>
  <!-- /round_next -->

  <!-- over -->
  <ng-container *ngIf="state.gameState == 'OVER'">
    <h2>Игра окончена</h2>

    <cah-playerlist
      class="full"
      [players]="state.players">
    </cah-playerlist>

    <button (click)="reload()" class="bottom">Играть еще раз</button>
  </ng-container>
  <!-- /over -->
</div>
<div class="loading" *ngIf="!state || !state.gameState">
  Загрузка
</div>